.colorgame {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  align-items: center;
}

/* #work-with-me > p {
  font-family: var(--ff-accent);
  text-align: center;
  font-size: 1.5rem;
} */
.light {
  background: #e4e9be;
  color: black;
  border: 1px solid black;
}
.dark {
  background: #dddddd;
  color: black;
  border: 1px solid black;
}
.darker {
  background: #525e75;
  color: black;
  border: 1px solid black;
}

.btn {
  padding: 10px;
  border-radius: 15px;
  margin: 20px;
  color: black;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid black;
}
.btn:hover {
  transition: padding 0.6s ease;
  padding: 1.4rem;
}
.p-color {
  font-family: var(--ff-accent);
  text-align: center;
  font-size: 1.5rem;
}
