* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --clr-primary-200: #f3eed9;
  --clr-primary-400: #824936;
  --clr-neutral-900: #222c2a;
  --clr-neutral-100: #fff;
  --ff-primary: 'Monserrat', 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;
  --clr-primario-vic: #099268;
  --clr-primario-hover-vic: #12b886;
}

.App {
  max-width: 850px;
  margin: 0 auto;
}

/** CARD CONTANER */

/* .container1 {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
} */
/* 
.project-list {
  display: flex;
} */

/*************SECTION PROJECTS***************/

@media (max-width: 600px) {
  .projects {
    flex-direction: column;
  }
  .table-bio {
    flex-direction: column;
  }
  .table-bio img {
    width: 50%;
  }
}
